:root {
  --chap-blue-1: #1a255b;
  --chap-blue-2: #3a3ab3;
  --chap-orange-1: #d86c18;
  --chap-orange-2: #ffa500;
  --chap-dark: #192f51;
  --chap-sec-dark: #344264;
  --chap-white: #ebebeb;
  --chap-deep-gray: #27292b;
  --chap-b-1-text: #f0f8ff;
  --chap-hole-distance: 25px;
}
html,
body {
  scrollbar-width: thin !important;
}
body {
  background: linear-gradient(
    180deg,
    var(--chap-dark),
    var(--chap-sec-dark),
    var(--chap-dark)
  );
  height: 100vh;
}

form.show {
  display: block !important;
  visibility: visible !important;
}
.text-alice,
.text-alice .card-header,
.text-alice table {
  color: aliceblue !important;
}
.bg-dark {
  background-color: var(--chap-dark) !important;
}
.bg-orange {
  background-color: var(--chap-orange-1) !important;
}

.hide {
  display: none !important;
  visibility: hidden !important;
}

.border-left {
  border-left: 2px solid var(--chap-orange-1);
}
.border-right {
  border-right: 2px solid var(--chap-orange-1);
}

.bg-chap-b-1 {
  background-color: var(--chap-blue-1);
}
.bg-chap-b-1,
.bg-chap-b-1.sidebar .nav-link {
  color: var(--chap-b-1-text);
  font-weight: 600;
}
.bg-chap-b-1.sidebar .nav-link:hover {
  transform: translateX(7px);
  color: var(--chap-orange-1);
  font-weight: 600;
}
.nav-link:hover,
.nav-link {
  transition: all 0.8s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.outline-orange {
  outline: 4px solid var(--chap-orange-1);
}
.profile-photo-form {
  left: 44%;
  top: 40%;
}
.border-bt-blue-2 {
  border-top: 4px solid var(--chap-blue-2);
}
.border-bs-blue-2 {
  border-left: 4px solid var(--chap-blue-2);
}
.border-bt-blue-2 {
  border-bottom: 4px solid var(--chap-blue-2);
}
.border-be-blue-2 {
  border-right: 4px solid var(--chap-blue-2);
}
.border-bt-orange-2 {
  border-top: 4px solid var(--chap-orange-1);
}
.border-bs-orange-2 {
  border-left: 4px solid var(--chap-orange-1);
}
.border-bb-orange-2 {
  border-bottom: 4px solid var(--chap-orange-1);
}
.border-be-orange-2 {
  border-right: 4px solid var(--chap-orange-1);
}

.chap-text-o {
  color: var(--chap-orange-1);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/* Sidebar*/

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

/* 403 page */

#hole1 {
  top: var(--chap-hole-distance);
  left: var(--chap-hole-distance);
}
#hole2 {
  top: var(--chap-hole-distance);
  right: var(--chap-hole-distance);
}
#hole3 {
  bottom: var(--chap-hole-distance);
  left: var(--chap-hole-distance);
}
#hole4 {
  bottom: var(--chap-hole-distance);
  right: var(--chap-hole-distance);
}

.forbidden .hole {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-image: radial-gradient(circle at 99%, #f4f4f4 10%, grey 70%);
  transform: rotate(45deg);
}

#sign-wrapper.forbidden {
  background-color: #f4f4f4;
  position: relative;
  width: 80%;
  min-width: 340px;
  max-width: 800px;
  height: 90%;
  margin: 2% auto;
  padding: 50px;
  border: 1px solid #e9ecf0;
  border-radius: 45px;
  box-shadow: 5px 5px 10px #000;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
#circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 510px;
}

#circle-container svg {
  max-width: 100%;
  max-height: 100%;
}

.forbidden #header {
  background-color: #ef5350;
  padding: 20px;
  border-radius: 30px 30px 0 0;
  text-align: center;
}

.forbidden h1 {
  text-transform: uppercase;
  color: #f4f4f4;
  font-size: 5.5em;
  line-height: 0.9em;
  letter-spacing: 3px;
  margin: 0;
  font-weight: 900;
}

.forbidden .strike {
  position: absolute;
  width: 25%;
  height: 10px;
  background-color: #fff;
}
.forbidden #strike1 {
  top: 115px;
  left: 80px;
}
.forbidden #strike2 {
  top: 115px;
  right: 80px;
}

.forbidden #sign-body {
  display: flex;
  flex-wrap: nowrap;
}
.forbidden #copy-container {
  flex-basis: 60%;
}
.forbidden #circle-container {
  flex-basis: 40%;
}

.forbidden h2,
.forbidden p {
  text-align: center;
  color: #1d1e22;
}

.forbidden h2 {
  font-size: 3em;
  text-transform: uppercase;
  margin: 40px 0;
  line-height: 0.9em;
}
.forbidden p {
  font-size: 20px;
}
.alertor {
  margin-top: -10px;
}

@media screen and (max-width: 930px) {
  #sign-wrapper.forbidden {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 750px) {
  #sign-wrapper.forbidden {
    font-size: 0.6rem;
  }
  .forbidden h2 {
    margin: 25px 0;
  }
  .forbidden .strike {
    visibility: hidden;
  }
}
@media screen and (max-width: 600px) {
  #sign-wrapper.forbidden {
    font-size: 0.4rem;
    padding: 15px;
    border-radius: 25px;
  }
  .forbidden #header {
    border-radius: 20px 20px 0 0;
  }
  .forbidden #circle-container {
    width: 50%;
  }
  .forbidden .hole {
    width: 10px;
    height: 10px;
  }
  :root {
    --chap-hole-distance: 8px;
  }
}
@media screen and (max-width: 450px) {
  #sign-wrapper.forbidden {
    font-size: 0.34rem;
  }
  .forbidden h2 {
    margin: 10px;
  }
  .forbidden p {
    font-size: 14px;
  }
}
